@import 'highlight.js/styles/github-dark.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 p-4 leading-7;
}

.link {
  color: black;
  text-decoration: none;
  transition: all 0.1s ease;
  box-shadow: 0 4px 0px 0 rgb(253 224 71), inset 0 0px 0 0 rgb(253 224 71);
}

.link:visited {
  @apply text-gray-500;
}

.link:hover {
  box-shadow: 0 4px 0px 0 rgb(253 224 71), inset 0 -20px 0 0 rgb(253 224 71);
}

ul {
  @apply list-outside list-disc pl-4;
}

ol {
  @apply list-outside list-decimal pl-4;
}

address {
  font-style: normal;
}