@tailwind base;
@tailwind components;
@tailwind utilities; 

body {
  @apply bg-gray-100 p-4;
}

main {
  display: block;
  max-width: 630px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  @apply mb-16;
}

.link {
  color: black;
  text-decoration: none;
  position: relative;
  display: inline-block;
  z-index: 3;
}

.link:visited {
  color: black;
}

.link:hover:before {
  height: 25px;
  top: 0px;
}

.link:before {
  z-index: -1;
  transition: all 0.1s ease-in-out;
  position: absolute;
  display: block;
  content: '';
  height: 4px;
  top: 21px;
  @apply bg-yellow-300;
  width: 100%;
}