@import 'highlight.js/styles/a11y-dark.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Assuming the variable font supports a range from 100 to 900 */
}


body {
  font-family: 'JetBrains Mono', monospace;
  @apply bg-slate-50 p-4;
}

.link {
  @apply text-orange-600 underline;
}

.link:visited {
  @apply text-orange-600;
}

.link:hover {
  @apply text-orange-800;
}

address {
  font-style: normal;
}

.blog p {
  @apply my-4;
}

.blog a {
  @apply link;
}

.blog a.no-underline {
  text-decoration: none
}

/* .blog a:hover {
  @apply .link:hover;
} */

.blog h1 {
  @apply text-2xl mb-4 font-bold;
}

.blog h2 {
  @apply text-xl mt-8 font-bold;
}

.blog h3 {
  @apply text-xl mt-8 font-bold;
}

.blog h3 {
  @apply text-lg mt-8 font-bold;
}

.blog h4 {
  @apply text-lg mt-8 font-bold;
}

ul.blog  {
  @apply ml-4 list-outside list-disc;
}

ul.blog li {
  @apply my-2;
}

ol.blog {
  @apply ml-4 pl-4 list-outside list-decimal;
}

ol.blog li {
  @apply my-2;
}

.blog blockquote {
  @apply border-l-2 border-black pl-4 my-4;
}

.hljs {
  font-size: 12px;
  line-height: 17px;
  font-family: 'JetBrains Mono', monospace;
}


.dot-shadow {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  height: calc(100% + 5px);
  width: calc(100% + 5px);
  background-repeat: repeat;
  z-index: -1;
  opacity: .6;
}